fileFormatVersion: 2
guid: b06db4feadca1ff4987e1265607d5ea9
timeCreated: 1504582437
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
